@use "mixins" as *;
@use "media" as *;

.screen {
  display: flex;
  min-height: 100vh;
}

.formSide {
  flex: 1;
  @include flex(column, center, center);
  background: #f5f6f8;
  padding: 48px 24px;
}
